<a href="https://colab.research.google.com/github/manxuan02/DADT/blob/main/Lectures/SQL%3A%20Try%20It%20Yourself.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Setting Up MySQL Environment

In [8]:
# install and start mysql server
!apt -qq update > /dev/null
!apt -y -qq install mysql-server > /dev/null
!/etc/init.d/mysql restart > /dev/null

# mount gdrive, required for downloaded dataset (or sql data dump)
import os

# install gdown, required for download file from GDrive
!pip -q install gdown
import gdown

# URL for our dataset, suicide-records.csv
URL = "https://drive.google.com/file/d/1PHuYietO9nXwO_BdoWvtNtIE-nmDjQYN/view?usp=sharing"
FILE_PATH = "https://drive.google.com/uc?export=download&id=" + URL.split("/")[-2]

# download and upload the csv data to GDRIVE and place inside GD_PROJECT_HOME/data folder.
# in case of Suicide Records, it will be at databases/suicides/data
gdown.download(FILE_PATH, "library-schema-mysql.sql", quiet=True)


# restore the employees sample database from the dump data
!mysql -t < library-schema-mysql.sql > /dev/null


# create a database user and grant access to the employees database
!mysql -e "CREATE USER IF NOT EXISTS 'francis'@'localhost' IDENTIFIED WITH mysql_native_password BY 'california';"
!mysql -e "GRANT ALL PRIVILEGES ON library.* TO 'francis'@'localhost';"

# install sqlalchemy
!pip install -q sqlalchemy==2.0.20
# install sql magic, required for running sql commands in jupyter notebook
!pip install -q ipython-sql==0.5.0
# install mysql python connector
!pip install -q pymysql==1.1.0
# Install the prettytable package
!pip install prettytable==2.0.0

# enable sql magic in the notebook
%reload_ext sql

# queries are returned in the pandas format
%config SqlMagic.autopandas=True

# maximum # of rows to be rendered
import pandas as pd
pd.set_option('display.max_rows', 10)

# connect to the hr database
%sql mysql+pymysql://francis:california@localhost/library

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

su: warning: cannot change directory to /nonexistent: No such file or directory
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 30.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 39.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 2.7 MB/s eta 0:00:00
Collecting prettytable==2.0.0
  Downloading prettytable-2.0.0-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from prettytable==2.0.0) (75.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable==2.0.0) (0.2.14)
Downloading prettytable-2.0.0-py3-none-any.whl (22 kB)
Installing collected packages: prettytable
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.16.0
    Uninstalling prettytable-3.16.0:
      Successfully uninstalled prettytable-3.16.0
Successfully installed prettytable-2.0.0

In [9]:

%%sql
# Insert Your Code Here
SELECT *
FROM Books;

 * mysql+pymysql://francis:***@localhost/library
15 rows affected.

,BookID,Title,Author,Genre,PublishedYear
0,101,Journey Through SQL,A. Coder,Technology,2015
1,102,The History of Databases,D. Base,Education,2018
2,103,Adventures in Coding,P. Programmer,Fiction,2020
3,104,Exploring Data Science,A. Coder,Science,2021
4,105,Fundamentals of Database Design,D. Base,Technology,2019
...,...,...,...,...,...
10,111,The Art of SQL,S. Faroult,Technology,2006
11,112,SQL Antipatterns,B. Karwin,Technology,2010
12,113,Learning SQL,A. Beaulieu,Education,2005
13,114,SQL Cookbook,A. Molinaro,Technology,2005
14,115,SQL for Smarties,J. Celko,Technology,1995

In [13]:
# Find Borrowed Book Titles and Return Dates

%%sql
SELECT b.Title, br.ReturnDate
FROM Books b INNER JOIN Borrow br
ON b.BookID = br.BookID;

 * mysql+pymysql://francis:***@localhost/library
19 rows affected.

                            Title  ReturnDate
0             Journey Through SQL  2022-01-30
1             Journey Through SQL  2022-05-15
2             Journey Through SQL  2022-02-24
3        The History of Databases  2022-05-24
4        The History of Databases  2022-03-15
..                            ...         ...
14        Gardening for Beginners  2022-09-24
15  Advanced Gardening Techniques  2022-10-15
16  Advanced Gardening Techniques  2022-04-20
17      Mysteries of the Universe  2022-11-04
18      Mysteries of the Universe  2022-04-24

[19 rows x 2 columns]

In [17]:
# Find Books Borrowed during a Specific Year
# Write a query to list titles of books that were borrowed in the year 2022

%%sql
SELECT DISTINCT b.Title
FROM Books b
INNER JOIN Borrow br
ON b.BookID = br.BookID
WHERE YEAR(br.BorrowDate) = 2022;

 * mysql+pymysql://francis:***@localhost/library
9 rows affected.

                                Title
0                 Journey Through SQL
1            The History of Databases
2                Adventures in Coding
3              Exploring Data Science
4     Fundamentals of Database Design
5  The World of Fictional Programming
6             Gardening for Beginners
7       Advanced Gardening Techniques
8           Mysteries of the Universe

In [20]:
# To show all the Members / the Members table

%%sql
SELECT *
FROM Members;

 * mysql+pymysql://francis:***@localhost/library
10 rows affected.

   MemberID            Name                     Email  JoinYear
0       501    Alex Johnson  alex.johnson@example.com      2019
1       502    Bethany Cane     bethany.c@example.com      2020
2       503       Chris Way       chris.w@example.com      2018
3       504     Diana Smith       diana.s@example.com      2019
4       505        Evan Lee      evan.lee@example.com      2021
5       506    Frank Martin       frank.m@example.com      2018
6       507   Georgia Brown     georgia.b@example.com      2020
7       508  Harvey Specter      harvey.s@example.com      2021
8       509     Irene Adler       irene.a@example.com      2019
9       510        John Doe        john.d@example.com      2022

In [18]:
# List Books and Borrowers
# Create a query to display the names of members alongside the titles of books they have borrowed

%%sql
SELECT *
FROM Books b
INNER JOIN Borrow br ON b.BookID = br.BookID
INNER JOIN Members m ON br.MemberID = m.MemberID;

 * mysql+pymysql://francis:***@localhost/library
19 rows affected.

,BookID,Title,Author,Genre,PublishedYear,BookID,MemberID,BorrowDate,ReturnDate,MemberID,Name,Email,JoinYear
0,101,Journey Through SQL,A. Coder,Technology,2015,101,501,2022-01-15,2022-01-30,501,Alex Johnson,alex.johnson@example.com,2019
1,103,Adventures in Coding,P. Programmer,Fiction,2020,103,501,2022-06-01,2022-06-15,501,Alex Johnson,alex.johnson@example.com,2019
2,108,Advanced Gardening Techniques,G. Green,Non-Fiction,2020,108,501,2022-10-01,2022-10-15,501,Alex Johnson,alex.johnson@example.com,2019
3,101,Journey Through SQL,A. Coder,Technology,2015,101,502,2022-05-01,2022-05-15,502,Bethany Cane,bethany.c@example.com,2020
4,109,Mysteries of the Universe,S. Hawking,Science,2019,109,502,2022-10-20,2022-11-04,502,Bethany Cane,bethany.c@example.com,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,106,The World of Fictional Programming,P. Programmer,Sci-Fi,2022,106,509,2022-08-05,2022-08-19,509,Irene Adler,irene.a@example.com,2019
15,107,Gardening for Beginners,G. Green,Hobby,2017,107,509,2022-04-01,2022-04-15,509,Irene Adler,irene.a@example.com,2019
16,107,Gardening for Beginners,G. Green,Hobby,2017,107,510,2022-09-10,2022-09-24,510,John Doe,john.d@example.com,2022
17,108,Advanced Gardening Techniques,G. Green,Non-Fiction,2020,108,510,2022-04-05,2022-04-20,510,John Doe,john.d@example.com,2022
18,109,Mysteries of the Universe,S. Hawking,Science,2019,109,510,2022-04-10,2022-04-24,510,John Doe,john.d@example.com,2022